form{
  text-align: left;
}
p{
  margin:0;
}
a{
  text-decoration: none;
}


/* Email Address and Phone */
.row{
  padding-top:0;
  padding-top: 4%;
}
.contact-info{
  padding-top:6%;
  text-align: center;
  padding-bottom: 2%;
}

h3{
  font-size: 0.9rem;
  margin:0;

  margin-bottom: 5px;
  font-weight: bolder;
}
.contact-details{
  text-align: left;
}
.fa-envelope{
color:#0e91c4;
}
i.fa-envelope{
  margin: 0;
}
.fa-phone-alt{
  color:#061952;
}
i.fa-phone-alt{
  margin:0;
}
.fa-map-marker-alt{
  color:#e30909;
}
i.fa-map-marker-alt{
  margin:0;
}
div.location
{margin-bottom: 5%;}
div.phone{
  margin-bottom: 5%;
}
div.email{
  margin-bottom: 10%;
}
#address-heading{
  font-weight:500;
}
.links{
  color:black;
}
.links:hover{
  color:black;
}
