.banner {
  background-image: url("../img/banner1.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  vertical-align: middle;
  margin: 0;
}

.navbar {
  padding-right: 40px;
  padding-left: 40px;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.col-md-5, .col-md-7 {
  padding: 0;
}

form {
  text-align: center;
}

li.nav-item {
  margin: auto 10px;
}

.content {
  margin: 80px 30px 0;
  padding: 5%;
  text-align: left;
}

.navBar {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.bannerLogo {
  width: 36%;
}

.footer a {
  color: white;
}

.row {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.feature {
  margin-bottom: 30px 0 30px;
}

.features i {
  /* color: #228CDB; */
  color: #42BFDD;
  margin-bottom: 20px;
}

.contact-details {
  text-align: left;
}

.footer {
  margin: 0;
  padding: 20px;
  color: white;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-details i {
  margin-right: 15px;
}

.row i:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .navbar-brand {
    display: none;
  }
  .banner img {
    width: 50%;
  }
  .banner h1 {
    font-size: 2rem;
  }
}
