<hr class="footer-line">
  <div class="footer">
    <!-- Includes address, contact number, email address
      Copyright, Stylo Stationery, 2020
      Designed & Developed by Abhin Rustagi & Nandika Jain -->
    <p class="copyright"> </p>
    <p>Developed by <a class="our-profile" href="https://www.linkedin.com/in/abhinrustagi/" target="_blank">Abhin Rustagi</a> & <a class="our-profile" href="https://www.linkedin.com/in/nandika-jain-36337698/" target="_blank">Nandika Jain</a></p>
  </div>
  <script src="js/index.js" charset="utf-8"></script>

</body>
</html>
