</div>
<footer class="mt-auto sr">
    <div class="row">
    <div class="col-md-6">
        <a href="https://www.google.com/maps/dir//Stylo+Stationery,+274,+1st+Floor,Parkash+Street,+Teliwara,+Sadar+Bazaar,+New+Delhi,+Delhi+110006/@28.6602011,77.1451748,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfd72fddca045:0xb5a5e8549b72869f!2m2!1d77.2152159!2d28.6602191">
            <p>B. Dayal & Sons<br>274, 1st Floor, Prakash Street, Teliwara<br>Sadar Bazar, Delhi-110006</p>
        </a>
        <p>Rajender Rustagi: <a href="tel:919810049121">+91 9810049121</a><br>Rakesh Rustagi: <a href="tel:919818280890">+91 9818280890</a></p>
    </div>
    <div class="col-md-6">
        <p>Designed & Developed by <a href="https://www.linkedin.com/in/abhinrustagi/">Abhin Rustagi</a> and <a href="https://www.linkedin.com/in/nandikajain/">Nandika Jain</a>.</p>
    </div>
</div>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/index.js"></script>
</body>

</html>