<%- include("partials/header") -%>

<h1 class="mt-5 mb-3">We look forward to hearing from you</h1>
<div class="row contactUs">
    <div class="col-md-6">
        <p>Stylo was founded in 1997, with its first products being geometry boxes. The founders have been in this business since 1985. Stylo is a <u>wholesale stationery brand</u>. Over the years, Stylo has made sure to deliver excellent products. To
            cover the classroom requirements, Stylo diversifies its product list every year and is known for its quality assurance.</p>
    </div>
    <div class="col-md-6">
        <h5><i class="fas fa-map-marked-alt address"></i>Address</h5>
          <p>B. Dayal & Sons<br>274, 1st Floor, Prakash Street, Teliwara<br>Sadar Bazar, Delhi-110006</p>
          <p><a href="https://www.google.com/maps/dir//Stylo+Stationery,+274,+1st+Floor,Parkash+Street,+Teliwara,+Sadar+Bazaar,+New+Delhi,+Delhi+110006/@28.6602011,77.1451748,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390cfd72fddca045:0xb5a5e8549b72869f!2m2!1d77.2152159!2d28.6602191">View
            on Google Maps</a></p>
          <h5><i class="fas fa-phone-alt call"></i>Contact Number</h5>
          <p>Rajender Rustagi: <a href="tel:919810049121">+91 9810049121</a><br>Rakesh Rustagi: <a href="tel:919818280890">+91 9818280890</a></p>
          <h5><i class="fas fa-envelope mail"></i>Email</h5>
          <p>stylostationery@gmail.com</p>
    </div>
</div>

<%- include("partials/footer") -%>