.content {
  padding: 0 40px;
}

.content h1 {
  text-align: center;
  margin: 30px 0;
}

h5 {
  margin-top: 10px;
}

.content p {
  margin: auto 0;
}

.content i {
    margin-right: 10px;
}

.call {
  color: #3282b8;
}

.mail {
  color: #4f8a8b;
}

.address {
  color: #ff4b5c;
}

.content a {
  color: black;
}

.content a:visited {
  color: black;
}

.content a:hover {
  color: #00bcd4;
}

.col-md-6 p {
  font-size: 1.2rem;
}

.content form {
  margin-top: 10px;
}
.col-md-6 {
  margin-bottom: 20px;
}
