@mixin flexBox($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
  flex-direction: $direction;
}

$fontSizes: (
  "1": 1rem,
  "2": 1.025rem,
  "3": 1.25rem,
  "4": 1.5rem,
  "5": 1.75rem,
  "6": 2rem,
  "7": 2.25rem,
  "8": 2.5rem,
  "9": 2.75rem,
  "10": 3rem,
  "11": 3.25rem,
  "12": 3.5rem,
);

$lineHeights: (
  "1": 1.3rem,
  "2": 1.5rem,
  "3": 1.6rem,
  "4": 2rem,
  "5": 2.2rem,
  "6": 2.2rem,
  "7": 2.7rem,
  "8": 2.9rem,
  "9": 3.1rem,
  "10": 3.5rem,
  "11": 3.7rem,
  "12": 4rem,
);

$dark: #202020;
$light: #fcfaff;
$gray: #6c757d;
$accent: #ef233c;
$accentDark: #d90429;
$lightBlue: #4d5e70;

$cubicBezier: cubic-bezier(0.19, 1, 0.22, 1);
