.banner {
  text-align: center;
  background-image: url(tempback.jpg);
  height: 80vh;
  position: relative;
  background-position: center;
  background-size: cover;
}

.banner-center {
  position: relative;
  top: 30%;
}

.banner-center img {
  width: 250px;
}

.info {
  text-align: center;
  padding: 20px;
}
.features {
  margin-top: 30px;
}

.features .fas {
  color: #40a8c4;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}

.feature .fas:hover {
  color: #1dd3bd;
  transform: scale(1.2);
}
